
.title{
    color: black;
 
    font-size: 50px;
    font-weight: 800;
  
}


/* body shared styles */
body{font-family: 'Open Sans', sans-serif;}


/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
        
}
nav>ul{
    display: flex;
    align-items: center;
  
  
}
nav li{list-style: none;
margin: 40px;
align-items: center;}

nav a{
    text-decoration: none;
    color: rgb(10, 41, 66);
}

.primarycolor{
    color: #FD6E0A;

}
 .button{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: aliceblue;
    font-size: medium;
    font-weight: 700;
    padding:12px ;

    
 }

 .header{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png),url(../images/developer.png);
    background-repeat: no-repeat;
     background-position: bottom right,top left;

}

.banner{
    /* padding: 30px 30px 0px 0px; */
    margin-left: 100px;
display: flex;
/* align-items: center; */
justify-content: space-between;}

.banner.profilePic{
    width: 500px;
}
.bannerGreet{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;

}
.BannerMainHead{
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 0;
    color: #181818;
}

.banner content{
width: 500px;
    color:  #757575;
    padding: o;

}

/* about style section */

.about{
    padding: 130px;
     border-radius: 10px;
     background: #FFF8F3;
     margin-top: 130px;
}

.sectionTitle{
    color: #181818;
text-align: center;

font-size: 35px;

font-weight: 700;
}
.secdescripton{
    color: #757575;
    text-align: center;
 font-size: 18px;
  font-weight: 400;
   
}

main{max-width: 1600px;
margin:0 auto;}

main section{margin-top: 130 px;}
.aboutInfoContainer{display: flex;
justify-content: space-around;}
.aboutInfo{text-align: center;

}

.infoTitle{
    color:#757575;
   
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  
}
.infoDescription{
    color: #474747;

font-size: 20px;
font-style: normal;
font-weight: 700;}

.sectiondescription{

    color: #757575;
    text-align: center;

font-size: 18px;

font-weight: 400;
line-height: 30px;}



#whatIDO{padding: 30px 150px;

}

/* skills related styles */
.skillcontainer{
   display: flex; 
}

.skill{  padding: 30px;
margin: 23px;
border-radius: 5px;
background: #FFF;

box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skillDescription{
  color: #757575;
}
/* resume style section */
.resumeColumnTitle{
    color: #474747;

font-size: 30px;
font-weight: 700;
}
.resumeContainer{display: flex;
gap: 70px;}
.resumeItemInstitute,.itemDescripion{
    color: #757575;
    margin-bottom: 20px;
    margin-top: 0px;

}
.resumeItemTitle{

color: #474747;
font-size: 25px;
font-weight: 700;
margin-bottom: 10px;


}
.resumeContainer hr{margin: 30px;}
.downloadcv{text-align: center ;
margin-top: 50px;}

/* footer style part */

footer{background-color: #FFF8F3;
display: flex;
padding: 130px 200px;
/* gap: 50px; */
}

.footerItem{width: 50%;
padding: 100px;}
.connactform>input[type='text'],input[type='email'] ,textarea
{
    display: block;
    margin-bottom: 24px;
    padding: 18px 35 px;
    color: #757575;
    border: o;
  background-color: #FFF8F3;
  width: 100%;

}

.socialLinks a{margin-right:24px;}
